TP4/complexSchemaMath.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Université des Sciences et Technologies de Lille (Université des Sciences et Technologies de Lille) -->
<!--W3C Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="formules">
		<xs:sequence>
			<xs:element ref="constantes"/>
			<xs:element ref="exps"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="formules" type="formules">
		<xs:key name="kconst">
			<xs:selector xpath="constantes/const"/>
			<xs:field xpath="@nom"/>
		</xs:key>
		<xs:keyref name="krconst" refer="kconst">
			<xs:selector xpath="exps/exp/var"/>
			<xs:field xpath="@nom"/>
		</xs:keyref>
	</xs:element>
	<xs:complexType name="constantes">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="const"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="constantes" type="constantes"/>
	<xs:complexType name="const">
		<xs:attribute name="nom" type="xs:ID"/>
		<xs:attribute name="valeur" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:element name="const" type="const"/>
	<xs:complexType name="exps">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="exp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="exps" type="exps"/>
	<xs:complexType name="exp">
		<xs:choice>
			<xs:element ref="op"/>
			<xs:element ref="var"/>
		</xs:choice>
		<xs:attribute name="nom" use="required"/>
	</xs:complexType>
	<xs:element name="exp" type="exp"/>
	<xs:complexType name="op">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="op"/>
				<xs:element ref="var"/>
			</xs:choice>
			<xs:choice>
				<xs:element ref="op"/>
				<xs:element ref="var"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="symbole" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="div"/>
					<xs:enumeration value="mult"/>
					<xs:enumeration value="plus"/>
					<xs:enumeration value="moins"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="op" type="op"/>
	<xs:complexType name="var">
		<xs:attribute name="nom" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="var" type="var"/>
</xs:schema>
