TP4/dtdgrammar.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<!--element and attribute declarations-->
<!ELEMENT phrase (sujet, groupeVerbal, groupeComplement?)>
<!ELEMENT sujet (Article, NomQualifie)>
<!ELEMENT groupeVerbal (verbe, COD?)>
<!ELEMENT groupeComplement (preposition, GN)>
<!ELEMENT verbe (#PCDATA)>
<!ELEMENT COD (Article, NomQualifie)>
<!ELEMENT Article (#PCDATA)>
<!ELEMENT NomQualifie ((Adjectif* | Nom), (Adjectif* | Nom))>
<!ELEMENT Adjectif (#PCDATA)>
<!ELEMENT Nom (#PCDATA)>
<!ELEMENT preposition (#PCDATA)>
<!ELEMENT GN (Article, NomQualifie)>
