TP4/schemaMath.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="formules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="constantes"/>
				<xs:element ref="exps"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="constantes">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="const"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="const">
		<xs:complexType>
			<xs:attribute name="nom" type="xs:ID" use="required"/>
			<xs:attribute name="valeur" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="exps">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="exp"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="exp">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="op"/>
				<xs:element ref="var"/>
			</xs:choice>
			<xs:attribute name="nom" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="op">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="op"/>
					<xs:element ref="var"/>
				</xs:choice>
				<xs:choice>
					<xs:element ref="op"/>
					<xs:element ref="var"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="symbole" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="div"/>
						<xs:enumeration value="mult"/>
						<xs:enumeration value="plus"/>
						<xs:enumeration value="moins"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="var">
		<xs:complexType>
			<xs:attribute name="nom" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>